{% extends 'base.html' %}

{% block title %}Adicionar Fazenda{% endblock %}

{% block content %}
<h1>Adicionar Fazenda</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="location">Localização</label>
        <input type="text" class="form-control" id="location" name="location" required>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
{% endblock %}
