{% extends 'base.html' %}

{% block title %}Editar Empregado{% endblock %}

{% block content %}
<h1>Editar Empregado</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ employee.name }}" required>
    </div>
    <div class="form-group">
        <label for="position">Cargo</label>
        <input type="text" class="form-control" id="position" name="position" value="{{ employee.position }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
